<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据驱动评分</title>
    <style>
    
    #app {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .star-rating {
        color: gold;
        display: inline-block;
        font-size: 4em;
        position: relative;
        transform: translate(-6px);
    }
    .star-rating__max,
    .star-rating__current {
        position: absolute;
        top: 0;
    }
    .star-rating__current {
        overflow: hidden;
        white-space: nowrap;
    }

    
    </style>
</head>
<body>
    <div id="app">
        <div class="card">
            <div class="card-contnet">
                <div class="media-content">
                    <p class="title is-4">星级评定</p>
                    <p class="subtitle is-6">一个用VUE实现的星级评定组件</p>
                </div>
                <star-rating :max="5":current="value"></star-rating>
                <br>
                <button class="button" @click="randomValue">Play with values ({{value}})</button>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script id="star-rating">
    
    <div class="star-rating">
        <span v-for="n in max">&star;</span>
        <div class="star-rating__current" :style="{width: getRating + '%'}">
            <span v-for="n in max">&starf;</span>
        </div>
    </div>
    
    </script>
    <script>
    
    Vue.component('star-rating', {
        template: '#star-rating',
        props: ['max', 'current'],
        computed: {
            getRating: function() {
                return (this.current / this.max) * 100
            }
        }
    })

    new Vue({
        el: '#app',
        data: {
            value: 4
        },
        methods: {
            randomValue: function () {
                this.value = (Math.random()*4+1).toFixed(2)
            }
        }
    })
    
    </script>
</body>
</html>